<h2 class="template-header">Home</h2>
<!--<div class="col-md-9 col-sm-7">
    <div class="card">
        <div class="card-body">Basic card</div>
    </div>
    <div class="card">
        <div class="card-body">Basic card</div>
    </div>
    <h3>Section 1</h3>
    <p>Candy sweet cake marshmallow topping I love danish macaroon. Topping liquorice halvah pudding marzipan. Pudding bonbon bonbon dessert I love gingerbread. Danish sugar plum marzipan I love jelly chocolate cake chocolate cake. Cupcake bonbon chocolate bar biscuit chupa chups gummies I love. Bonbon chocolate tootsie roll cake. Chupa chups gummi bears I love I love jujubes. Candy canes I love liquorice cake icing pastry I love bonbon apple pie. Jelly beans dessert I love jujubes. Jelly beans cotton candy I love dragée gummi bears donut soufflé tootsie roll. Tootsie roll marzipan lemon drops icing tiramisu tiramisu. Muffin gummies dragée chocolate tart I love biscuit.</p>
</div>-->